body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.inner-box {
    display: inline-block;
    vertical-align: middle;
}

.cm-callout {
    padding: 0px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    transition: all linear .3s;
}

    .cm-callout:hover {
        border: 1px solid #387ce3;
        border-left-width: 5px;
    }

.product {
    display:inline-block;
    margin-bottom:13px;
}

.no-data-msg {
    line-height: 28px;
    font-size: 16px;
    margin-top: 15px;
}

.comment-footer {
    margin: 5px 0px;
}

    .comment-footer time {
        margin-left: 8px;
        font-size: 12px;
    }

#loadMore {
    margin-bottom: 20px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
